
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Gruppo&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   border: none;
   text-decoration: none;

}

html{
   width: 100vw;
   height: 100vh;
   font-size: 62.5%;
   overflow-x:hidden;
}
.content{
   width: 100vw;
   height: 70px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: fixed;
   padding-left: 30rem;
}

.logo{
   width: 300px;
   height: 70px;
   cursor: pointer;
   display: flex;
   align-items: left;
   margin-bottom: auto;
   margin:auto;
   border-radius: 30px;


}
header{
   background-color: #fff;
   border-radius: 15px;
}
.logo h3{
   color: black;
   font-size: 2.6rem;

}
.logo img{
   width: 100%;
   height: 100%;
}
.content .list-menu{
   width: 600px;
   display: flex;
   align-items: center;
   justify-content:space-between;
}
.first-section{
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

body{
   background-color: rgb(128, 4, 244);


}

h2{
    font-size: 90px;
    font-family: 'Gruppo', sans-serif;
    color: rgb(246, 9, 183);
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    margin-left:1.5px;
    
   
}


 h1{
    text-align: center;
    font-family: 'Gruppo', sans-serif;
    font-size: 40px;
    color: rgb(246, 9, 183);
    background-color: #fff;
    border-radius: 15px;
    padding-left: 2px;
    margin-left: 800px;
    margin-right: 800px;
    margin-top: 30px;
    font-family: 'Gruppo', sans-serif;
   
    
     
 }

 .apresentacao{
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 15px;
 }


 p{
     
     color: rgb(246, 9, 183);
     font-size: 35px;
     font-family: 'Gruppo', sans-serif;
     margin: 50px;
    

 }

 .formacao p{
 
    border-radius: 15px;
    color: rgb(246, 9, 183);
    background-color: #fff;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 15px;
    text-align: center;
    
 }
 .principal{
    background-color: rgb(251, 3, 185);
    border-radius: 50px;
    
 }

 li{
    list-style: none;
    font-size: 30px;
    color: rgb(246, 9, 183);
    background-color: #fff;
    display: inline-block;
    border-radius: 15px;
    margin-left: 35px;
    margin-top: 30px;
    font-family: 'Gruppo', sans-serif;
   
 }

 a:link{
    color: rgb(178, 6, 246);


 }
 a:visited{
    color: rgb(246, 9, 183);

 }
a:hover{
    color: rgb(225, 0, 255);
}

 
 
